html	{ margin: 0px; padding:0px; }
body	{ font: 76% "Trebuchet MS", Trebuchet, Arial, sans-serif; margin:0px;padding:0px; }
a		{ color: #9c0404; }
a:hover	{ color: #9c0404; text-decoration: none; }

h1		{ font-size: 220%; color: #9c0404; padding-top: 15px; padding-bottom: 15px; }
h2		{ font-size: 180%; color: #9c0404; padding-top: 15px; padding-bottom: 15px; }
h3		{ font-size: 140%; color: #fff; margin: 0px; padding:0px; background-color:  #9c0404; }

input, textarea{ width: 300px; }

#wrapper 			{ margin: 20px; }

#navigation			{ width: 500px; }

#homepages_articles { width: 500px; }

#content			{ width: 500px; float: left; }	

#related_articles 	{ border: 3px solid  #9c0404; padding: 0; width: 250px; margin-left: 500px; }

#category_articles 	{ border: 3px solid  #9c0404; margin-top: 20px; padding: 0; width: 250px; margin-left: 500px; }

#commnets			{ clear: both; }

#tags				{ width: 200px; }
#tags a		        { color: #9c0404;  text-decoration: none; }
#tags a:hover	    { color: #9c0404;  text-decoration: underline; }
.tag1               { font-size: 1.0em; }
.tag2               { font-size: 1.2em; }
.tag3               { font-size: 1.4em; }
.tag4               { font-size: 1.6em; }
.tag5               { font-size: 1.8em; }

/* pagination */

.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #9c0404;
  text-decoration: none;
  color: #9c0404;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #9c0404;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #9c0404;
  font-weight: bold;
  background-color: #9c0404;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}
