<% if logged_in? -%>
  <div id="user-bar-greeting"><%= link_to 'live site', '/' %> :: Logged in as <%= link_to_current_user :content_method => :login %> |
  (<%= link_to "log out", logout_path, { :title => "Log out" }    %>)</div>  
<% end -%>
